/*登录*/
{
  padding: 0px;
  margin: 0px;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
body{
  margin:0;
  padding:0;
  background-color: #f2f2f2;
  display:flex;
  justify-concent:center;
  height:100vh;
  background-image: url('../img/Register.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.login-container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.login-container input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.login-container button {
  width: 100%;
  padding: 10px;
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.login-container button:hover {
  background: #218838;
}
